.main2{
    width: 1002px;
    margin: 0 auto 20px;
    overflow: hidden;
}
.path {
    line-height: 60px;
    color: red;
    text-indent: 0;
    font-size: 13px;
    height: 60px;
}
.path b, .path a {
    color: #999;
    font-size: 13px;
}
.path i {
    margin: 0 5px;
}
.lf-icon-right {
    background-position: -121px 0;
    width: 5px;
    height: 8px;
    background-image: url(../img/jlt.png);
    background-repeat: no-repeat;
    display: inline-block;
}
.shopping-list dl dt img {
    width: 53px;
    height: 67px;
    border: 1px solid #f3f3f3;
}
.commodity-t-composite {
    width: 1000px;
    height: 516px;
    margin-bottom: 15px;
    position: relative;
    z-index: 20;
    background: #FFF;
}
.shopping-list-bar{
    min-height: 351px;
    overflow:hidden;
}

.bigProduct-c {
    width: 1000px;
}
.bigProduct-c dl dd {
    background: #FFF;
    overflow: hidden;
}
.bigProduct-c dl dd h1 {
    width: 600px;
    font: bold 20px/31px Microsoft YaHei, simsun;
    padding: 20px 0 0px 29px;
    color: #333;
    overflow: hidden;
    height: 33px;
}
.bigProduct-c dl dd h1 i {
    font-style: normal;
    color: #f52648;
}
.bigProduct-c dl dd p {
    width: 600px;
    height: 54px;
    line-height: 25px;
    font-size: 16px;
    padding: 0 0 0 29px;
    color: #999;
    overflow: hidden;
}
.bigProduct-c dl dt {
    position: relative;
    width: 1000px;
    clear: both;
}
.bigProduct-c dl dt .dity-pic {
    position: relative;
    height: 347px;
    width: 600px;
    border: solid 1px #eee;
    margin-left: 29px;
}
.bigProduct-c dl dt .dity-pic img {
    display: block;
    max-width: 600px;
    max-height: 347px;
    margin: 0 auto;
}
.dity-tags {
    position: relative;
    left: 0;
    top: 20px;
    padding-left: 29px;
    display: inline-block;
    width: 500px;
}
.dity-tags span {
    height: 22px;
    padding: 0 10px;
    line-height: 22px;
    text-align: center;
    margin-right: 10px;
    display: inline-block;
    border: solid #ccc 1px;
    border-radius: 12px;
}
.dity {
    position: absolute;
    top: 0;
    left: 660px;
    width: 310px;
    height: 380px;
    border-top: dotted 1px #ccc;
}
.dity .dity-cont {
    color: #999;
}
.dity-price-c {
    background-position: 0 0;
    position: relative;
    height: 55px;
    font-family: Arial,Microsoft YaHei,simsun;
    margin-top: 20px;
}
.dity-title {
    display: inline-block;
    width: 70px;
    font-size: 13px;
    line-height: 25px;
}
.dity-price-c .lighten {
    font-size: 12px;
    color: red;
}
.dity-price-c strong {
    font-size: 32px;
    padding-left: 5px;
    font-family: Arial,Microsoft YaHei,simsun;
    color: red;
}
.dity-price-c .dity-countdown {
    display: inline-block;
    background-color: red;
    color: #fff;
    font-size: 12px;
    padding: 1px 3px;
    margin-left: 10px;
    vertical-align: super;
}
.dity-price-c .marketPrice-s {
    color: #999;
    font-size: 13px;
    text-decoration: line-through;
    margin-left: 20px;
}
.dity-promotions {
    overflow: hidden;
    padding-bottom: 20px;
}
.dity-title {
    display: inline-block;
    width: 70px;
    font-size: 13px;
    line-height: 25px;
}
.dity-prts {
    float: right;
    width: 240px;
}
.dity-promotion {
    height: 27px;
    line-height: 27px;
    color: #666;
    float: left;
    width: 100%;
    font-size: 12px;
    overflow: hidden;
    margin-bottom: 3px;
    margin: 0 auto;
}
.dity-promotion i.l4 {
    display: inline-block;
    width: 39px;
    margin: 0 10px 0 5px;
    vertical-align: middle;
    font-style: normal;
    color: #fff;
    height: 23px;
    background: url(../img/jlt4.png) no-repeat;
    background-position: -117px 0;
}
.dity-sendTime {
    overflow: hidden;
    padding-bottom: 20px;
}
.dity-size {
    width: 310px;
    padding: 25px 0 10px 0;
    border-top: dotted 1px #ccc;
}
.dity-size ol li {
    float: left;
}
.dity-size-l {
    width: 60px;
    line-height: 25px;
    font-size: 13px;
}
.dity-size-r {
    width: 103px;
    height: 25px;
    margin-left: 15px;
    background: url(../img/jlt5.png) no-repeat -204px -181px;
}
.dity-size-r span.dity-m {
    display: inline-block;
    height: 25px;
    width: 25px;
    border: none 0;
    cursor: pointer;
    vertical-align: middle;
}
.dity-size-r input.dity-input {
    width: 34px;
    height: 20px;
    border: 0 none;
    padding: 0 5px;
    text-align: center;
    vertical-align: middle;
}
.dity-size-r span.dity-p {
    display: inline-block;
    border: none 0;
    height: 25px;
    width: 25px;
    cursor: pointer;
    vertical-align: middle;
}
.dity-size-x {
    color: #F00;
    line-height: 20px;
}
.clearfloat::after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
.add-to-cart-pro {
    width: 176px;
    height: 45px;
    display: block;
    background-image: url(../img/jlt5.png);
    background-repeat: no-repeat;
    background-position: -145px 0;
    overflow: hidden;
    margin-top: 10px;
    color: #fff;
    line-height: 45px;
    text-align: center;
    font-size: 16px;
}
.pollen-text {
    color: #666;
    font-size: 13px;
    display: inline-block;
    margin-top: 10px;
}
